{% extends "mathquiz/base.html" %}


{% block content %}


    <div class="card text-center" style="background-color:lightgray;">
        
        <div class="card-body">
          <h1 class="card-title">Welcome to Math Mania</h1>
         <br>
          <h3>If you have an accout login below</h3>
          <a href="{% url 'my_login'%}" class="btn btn-primary">Login</a>
          <h3>If you do not have an account please register below</h3>
          <a href="{% url 'register'%}" class="btn btn-primary">Register</a>
        </div>
    </div>

{% endblock %}


        
        

  




