{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'math.css' %}" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Addition
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="{% url 'add'%}">Single Digit</a>
              <a href="{% url 'addTwo'%}">Double Digit</a>
              <a href="{% url 'addThree'%}">Triple Digit</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Subtraction
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="{% url 'subOne'%}">Single Digit</a>
              <a href="{% url 'subTwo'%}">Double Digit</a>
              <a href="{% url 'subThree'%}">Triple Digit</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Multiplication
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="{% url 'mulOne'%}">Single Digit</a>
              <a href="{% url 'mulTwo'%}">Double Digit</a>
              <a href="{% url 'mulThree'%}">Triple Digit</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Division
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="{% url 'divOne'%}">Single Digit</a>
              <a href="{% url 'divTwo'%}">Double Digit</a>
              <a href="{% url 'divThree'%}">Triple Digit</a>
            </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Answers
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="{% url 'getResults'%}">Get Answers</a>
            
          </div>
      </div>
        <div class="dropdown">
          <button class="dropbtn">Logout
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="user_logout/">Logout</a>
          </div>
      </div>
    </div>

<div id="addMath"  style="font-size: 40px;">
   
    <p><h3>Welcome To Math Mania {{request.user}}</h3></p> 
   
</div>





</body>
</html>
