{% extends "mathquiz/base.html" %}

    

    {% block content %}
    <div class="card text-center" style="background-color:lightgray;">
        <h1 class="card-title">Please enter username and password below</h1>
        <div class="card-body">
            <form action="my_login" method="post" autocomplete="off">
                {% csrf_token %}
                {{ loginform.as_p }}
                {% for message in messages%}
                    <p>{{message}}</p>
                {% endfor %}
                <button type"button" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
 
    
    {% endblock %}



