{% extends "base.html" %}




{% block content %}
    <button><a href="{% url 'index'%}">Go To Dashboard</a></button>
    <button><a href="{% url 'add'%}">Do More Problems</a></button>
   
   
    <div class="grid-container" >
        {% for item in problemList %}
        <div>
            <label>{{ item.numerator }}</label><BR>
                <label>+</label><BR>
                <label>{{ item.denominator }}</label><BR>
                <label>-----------------------</label><BR>
                    {% if item.answerValue == True %}
                        <label class="correct"> {{ item.answer }}</label><BR>
                    {% else %}
                        <label> {{ item.answer }}</label><BR>
                    {% endif %}
                  <BR>
            
        </div>
        {% endfor %}
    </div>
  
    
{% endblock %}
        

    
        
    




   
